<%= image_tag("globeLogo.png",  :alt => "Travelagent.com for your travel needs" ) %>
<%= image_tag("travelagentbanner.png",  :alt => "Travelagent.com is your home to arrange the perfect cruise" ) %>
<%=link_to 'Find a Cruise', cruises_path %>  
  Make a Payment</p>

<%= link_to 'Find a Customer', customers_path %> |